* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    width: 100%;
    margin: 30px 0 50px 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100%;

}
#app input{
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 6px;
   
}
#app button {
    margin-left: 10px;
    padding: 6px;
}
.list li{
    margin: 10px;
}

.list a {
    margin-left: 20px;
    background-color: rgb(33, 104, 255);
    color: white;
    padding: 4px 5px;
    font-size: 12px;
    border-radius: 4px;
}